@mixin alert($red,$green,$blue) {
    background-color: rgba($red,$green,$blue,0.5);
    border: 1px solid rgba($red,$green,$blue,1);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}
    
.c-feedback{
    &.warning{ //& zorgt ervoor dat hij niet naar een child element zoekt, maar naar een classe waar warning mee instaat
        @include alert(255,168,80); 
    }
    
}

.c-feedback{
    &.error{
        @include alert(255,0,0);
    }
    
}

.c-feedback.succes{
    &.succes{
        @include alert(0,255,0);
    }
    
}