.ranks {
    ul {
        width: 600px;
        height: 113px;
        margin: 25px;
        position: relative;
        left: 50%;
        transform: translateX(-60%);
    }
}

.ranking {
    background: $primary-white;
    color: $primary-gray;
    display: flex;
    justify-content: center;
}

.songActive {
    display: none;
}

.result {
    text-align: center;
}

.rankingComp{    
    margin: 10px;
    font-size: 18px;
}
